
.sign_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content:space-around;
    min-height: 14em;
}
.sign_input {
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
    width: 20%;
    min-width: 20em;
}
.sign_button {
    padding: 0.4em;
    margin: 0.5em;
    width: 20%;
    background-color: lightblue;
    min-width: 20em;
}
.sign_div a {
    color: black;

}
.sign_div input, .sign_div button {
    border-radius: 3px;
    border: 1px solid black
}


.reg_div {
    display: grid;
    grid-template: repeat(11, 0.7fr) 1.8fr 0.7fr / 1fr 3fr ;
    column-gap: 1em;
    align-items: center;
    max-width: 40em;
}

#reg_title {
    grid-column: 1 / 3;
    text-align: center;
}

.reg_input {
    padding: 0.5em;
}

#reg_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reg_button_wrapper {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg_button {
    padding: 0.4em;
    margin: 0.5em;
    width: 80%;
    background-color: lightblue;
}

.reg_input, .reg_div button, .reg_div textarea {
    border-radius: 3px;
    border: 1px solid black
}
textarea.reg_input {
    height: 70%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

select.reg_input option {
    color: black;
}