section{
    display: flex;
    justify-content: center;
}
.create-goal{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.row{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 1%;
    align-items: top;
}
.type{
    padding: 1%;
    text-align: left;
    
}
.texty{
    display: flex;
    flex-direction: column;
}
.target{
    display: flex;
    flex-direction: row;
}
.goal_answ{
    margin-bottom: 3%;
}
.goal_text{
    border-radius: 5px;
    width: 60%;
    min-height: 5em;
}
.goal_title{
    height: 1.8em;
    border-radius: 5px;
    width: 60%;
}
.date_answ{
    border-radius: 5px;
}
.t{
    width: 60%;
}

.target_title{
    height: 1.9em;
    width: 100%;
    margin-right: 0.3em;
    border-radius: 5px;
}
.target{
    display: flex;
    flex-direction:row;
}
.b input[type = "button"]{
    margin-left: 1em;
}

.sub_button{
    width: 50%;
}

