
.sign_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content:space-around;
    min-height: 14em;
}
.sign_input {
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
    width: 20%;
    min-width: 20em;
}
.sign_in_button_wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.sign_button {
    width: 20%;
}

.sign_div a {
    color: black;
}
.sign_div input, .sign_div button {
    border-radius: 3px;
    border: 1px solid black
}
input:focus::placeholder {
    color: transparent;
}
